<h1>Your reservation</h1>
  <strong>reservation code</strong> <%= @booking.id %><br>
  <strong>Departure:</strong> <%= @flight.departure_airport.code %><br>
  <strong>Arrival:</strong> <%= @flight.arrival_airport.code %><br>
  <strong>Date/Time:</strong> <%= @flight.date_time.strftime('%Y-%m-%d %H:%M') %>
  <p><strong>Number of Passengers:</strong> <%= @booking.passengers%></p>
</p>
<%= link_to "All bookings", bookings_path%>